#user {
  position: absolute;
  left: 750px;
  top: 150px;
}
#login {
  margin: 20px auto;
}
#logout {
  border-bottom: solid #CCC 1px;
}
#enterHall {
  float: right;
  position: relative;
  left: -180px;
  font-size: 15px;
  width: 150px;
  height: 50px;
}
.main {
  background: url(/images/bg.png) white;
}
.introduce {
  margin: 0px auto;
  width: 940px;
  height: 420px;
  background: url(/images/introduce.png) no-repeat top;
  position: relative;
  top: 40px;
}
#ad {
  position: absolute;
  left: 180px;
  top: 25px;
  font-size: 20px;
  font-family: 微软雅黑;
}
